Flask==3.0.0
Flask-Cors==4.0.0
gunicorn==21.2.0
osmnx==1.9.1
pandas==2.1.4
scikit-learn==1.4.0
networkx==3.2.1
requests==2.31.0
shapely==2.0.2
geopandas==0.14.2
rtree==1.1.0
numpy==1.26.3
opencv-python-headless==4.9.0.80
geopy==2.4.1
python-dotenv==1.0.0